@import "utilities/extend";
@import "utilities/maps";
@import "utilities/mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed img {
    width: 50px;
}

body {
    @extend %body;
}

.header {
    @extend %header;
}

.header nav ul {
    @extend %flex;
}

.hijos {
    @extend %hijos;
}

.header nav ul li a:hover {
    @extend %hijosHover;
}

.hijos a {
    @extend %hijosA;
}

.ipadGrid {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-areas: "mainP mainP mainP mainP"
        "secI secI secI secI"
        "imaDI imaDI imaDI imaDI"
        "parrDI parrDI parrDI parrDI"
        "imaI imaI imaIDos imaIDos"
        "ipaPMa ipaPMa ipaPMa ipaPMa"
        "imaCom imaCom imaCom imaCom"
        "ipadEco ipadEco ipadEco ipadEco"
        "footer footer footer footer";
}

.mainIpad {
    grid-area: mainP;
}

.sectionIpad {
    grid-area: secI;
}

.imagenDosIpad {
    grid-area: imaDI;
}

.parrafoDosIpad {
    grid-area: parrDI;
}

.imagenesIpad {
    grid-area: imaI;
}

.imagenesIpadDos {
    grid-area: imaIDos;
}

.ipadProMax {
    grid-area: ipaPMa;
}

.imagenCompra {
    grid-area: imaCom;
}

.ipadEconomica{
    grid-area: ipadEco;
}

footer {
    grid-area: footer;
}

/*fin de grids*/

.mainIpad{
    margin: 2rem 0 0 0;
}

.mainIpad h1 {
    @include mainIpad;
}

.mainIpad img {
    width: 100%;
    height: 30rem;
    margin: 0 0 10% 0;
}

.sectionIpad h2 {
    font-family: 'Sriracha', cursive;
    margin: 0 0 0 1rem;
    color: violet;
    font-size: 1.8rem;
}

.sectionIpad p {
    margin: 0 0 2rem 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
}

.imagenDosIpad {
    margin: 0 0 0 1rem;
}

.parrafoDosIpad {
    width: 90%;
    height: 40%;
    margin: 2rem 0 0 1rem;
}

.parrafoDosIpad p {
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
}

.imagenesIpadDos {
    margin: 3rem 0 0 30%;
}

.imagenesIpadDos img {
    padding: 1rem 0 0 1.2rem;
}
.imagenesIpad {
    margin: 3rem 0 0 50%;
}

.imagenesIpad img {
    padding: 1.5rem 0 0 1rem;
    margin: 0 0 2rem 0;
}

.ipadProMax {
    margin: 2rem 0 0 1rem;
}

.ipadProMax h3 {
    font-family: 'PT Serif', serif;
    color: #777474;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.imagenCompra {
    margin: 0 0 5rem 0;
}

.imagenCompra img {
    margin: 0 0 0 1rem;
}

.comprarPremium {
    margin: 0.5rem 0 0 1rem;
}

.comprarPremium input{
    background-color: map-get($map: $premium, $key: bg-premium );
}

.ipadEconomica h3{
    font-family: 'Sriracha', cursive;
    margin: 0 0 0 1rem;
    color: violet;
    font-size: 1.8rem;
}

.ipadEconomica p{
    margin: 0 0 2rem 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
}

.ipadEconomica img{
    margin: 0 0 0 1rem;
    width: 15rem;
}

.comprarEstandar{
    margin: 0 0 0 1rem;
}

.comprarEstandar input{
    background-color:  map-get($map: $estandar, $key: bg-estandar );
}

footer p {
    @extend %footerP;
}

footer {
    @extend %footer;
}

@media screen and (max-width:1024px) {
    .ipadGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "mainP mainP"
            "secI secI"
            "imaDI imaDI"
            "parrDI parrDI"
            "imaI imaI"
            "imaIDos imaIDos"
            "ipaPMa ipaPMa"
            "imaCom imaCom"
            "ipadEco ipadEco"
            "footer footer";
    }

    .imagenesIpad {
        margin: 2rem auto;
    }

    .imagenesIpadDos {
        margin: 2rem auto;
    }

}