%body {
    background-color: #e4ddd7;
}

%flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

%header {
    background-color: #c5baba;
    padding: 0.6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

%hijos {
    margin: 0.6rem;
    list-style: none;
}

%hijosHover {
    color: white;
    font-weight: 1.8rem;
}

%hijosA {
    color: black;
    text-decoration: none;
}

%footer {
    background-color: black;
    height:0.005rem;
    margin: 100px 0 0 0;
    text-align: center;
}

%footerP {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    padding: 1% 0 0 0;
}